
@media print {
    body {
        justify-content: flex-start!important;
    }
}

body {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 0;
    
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}